<div class="tweet-content">
  article with image<br>
  title: <%= favorite.content_title %><br>
  image: <%= link_to(image_tag(favorite.content_image), favorite.content_url) %><br>
  text: <%= favorite.content_text %>
</div>
