<li>
  <div class="author">
    <a href="#"><img src="https://twimg0-a.akamaihd.net/profile_images/1609143538/y_e0933b19_normal.jpg"></a>
    <span>
      <a href="#" class="name"><%= favorite.producer_names %></a><br>
      <a href="#" class="user">@user</a>
    </span>
  </div>

  <div class="tweet-content">
    <%=raw favorite.text_with_links %>
    
  </div>
  <div class="tweet-author clearfix">
    <%= link_to("@#{favorite.user_screen_name}", favorite.user_url) %>
    <%= favorite.user_name %>
  </div>
  <div class="actions">
    <a href="#"><i class="icon-share-alt"></i></a>
    <a href="#"><i class="icon-retweet"></i></a>
    <a href="#"><i class="icon-star"></i></a>
  </div>
</li>