<div class="tweet-content">
  article with image<br>
  title: <%= tweet.content_title %><br>
  image: <%= link_to(image_tag(tweet.content_image), tweet.content_url) %><br>
  text: <%= tweet.content_text %>
</div>
