<div class="offset4 span6" style="height: 500px; line-height: 500px;">
  <%= link_to signin_path, :class => "btn btn-large btn-primary" do %>
    <div style="font-size: 50px;">
      <i class="icon-twitter-sign"></i> Sign With Twitter
    </div>
  <% end %>
</div>