---
http_interactions:
- request:
    method: get
    uri: https://readability.com/api/content/v1/parser/?token=872d577d0056de7f99f061c999cba4d10b8f5278&url=http%3A%2F%2Ft.co%2F8PiJlVNI&max_pages=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"domain\": \"cs403323.userapi.com\",\n    \"next_page_id\":
        null,\n    \"url\": \"http://cs403323.userapi.com/v403323881/4cf5/cCB4uBFxAaQ.jpg\",\n
        \   \"short_url\": \"http://rdd.me/y7g3hpoo\",\n    \"author\": \"\",\n    \"excerpt\":
        \"\",\n    \"direction\": \"ltr\",\n    \"word_count\": 0,\n    \"total_pages\":
        0,\n    \"content\": \"<img src=\\\"http://cs403323.userapi.com/v403323881/4cf5/cCB4uBFxAaQ.jpg\\\"/>\",\n
        \   \"date_published\": null,\n    \"dek\": \"\",\n    \"lead_image_url\":
        \"\",\n    \"title\": \"Image \\\"cCB4uBFxAaQ.jpg\\\" from cs403323.userapi.com\",\n
        \   \"rendered_pages\": 1\n}"
  recorded_at: Fri, 12 Oct 2012 14:21:46 GMT
recorded_with: VCR 2.2.5
