/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.tweets {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
  padding: 0;
  li {
    margin: 0 10px 10px 0; 
    width: 200px;
    padding: 10px;
    background: #fff;
    border: solid 1px #cacaca;
    list-style: none;
    position: relative;
    overflow: hidden;
    img {
      width: 200px;
      margin: 0 0 10px;
      display: block;
      float: left;
    }
    .author {
      margin: 0 0 10px;
      img {
        display: inline-block;
        width: 38px;
        height: 38px;
        margin: 0 5px 0 0;
        float: left;
      }
      span {
        display: inline-block;
        font-size: 12px;
        line-height: 16px;
        a {
          color: #464646;
          &:hover {
            text-decoration: none;
          }
          &.name {
            font-weight: bold;
          }
        }
      }
    }.follow-btn {
      float: right;
    }
    .favouriter {
      float: left;
      font-size: 12px;
      margin: 5px 0 0;
    }
    a {
      &.add-to-fawourites {
    
        
      }
    }
    &.text {
      .tweet-content {
        font-size: 16px;
      }
    }
  }
    
}